.card-editor {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	overflow: auto;
	z-index: 10;
	&.close {
		display: none;
	}
	.editor-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background: $white;
		margin: 150px auto;
		width: 460px;
		height: 50%;
		border-radius: 6px;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.15);
		* {
			padding: 0 15px;
		}
		.editor-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			height: 15%;
			font-weight: bold;
			background: $lightgrey;
			border-radius: 6px 6px 0 0;
			.title {
				padding: 0;
			}
			.close-editor {
				font-size: 18px;
				padding: 0;
			}
		}
		.sub-title {
			display: block;
			width: 100%;
			height: 5%;
			font-weight: bold;
			margin: 5% 0 1%;
		}
		.editor-title {
			color: $black;
			width: 94%;
			padding: 5px;
			margin: 1% 3%;
			border: 1px solid $grey;
			border-radius: 6px;
		}
		.editor-contents {
			resize: none;
			display: block;
			width: 94%;
			height: 55%;
			padding: 5px;
			margin: 0 3%;
			border: 1px solid $grey;
			border-radius: 6px;
			overflow-y: auto;
		}
		button {
			width: 180px;
			height: 10%;
			border: none;
			border-radius: 6px;
			background: $pink;
			margin: 20px auto 20px 3%;
			cursor: pointer;
			color: $white;
			font-weight: bold;
		}
	}
}
