#Todo {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	width: 100%;
	background: $white;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}

.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 25px;
	border-bottom: 1.5px solid $lightgrey;
	h1 {
		margin: 0;
		font-size: 30px;
		font-weight: bold;
	}
	div {
		font-size: 24px;
		display: flex;
		align-items: center;
		cursor: pointer;
		&:hover {
			color: $pink;
		}
	}
}

main {
	flex: 1;
	width: 100%;
	position: absolute;
	top: 80px;
	left: 0;
}

.columns-container {
	width: 100%;
	height: 100%;
	padding: 25px;
	overflow-x: visible;
	display: flex;
	.columns {
		display: flex;
		height: 100%;
	}
	.column {
		min-width: 366px;
		max-width: 366px;
		min-height: 580px;
		max-height: 580px;
		background: $lightgrey;
		border: 1px solid $midgrey;
		border-radius: 6px;
		margin-right: 16px;
		display: flex;
		flex-direction: column;
	}
	.column-add {
		min-width: 355px;
		max-width: 355px;
		padding-right: 16px;
		div {
			height: 140px;
			border: 1px dashed $grey;
			border-radius: 6px;
			font-weight: 500;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			i {
				margin-right: 5px;
			}
			&:hover {
				color: $pink;
			}
		}
	}
}

.column__header {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	div {
		display: flex;
		align-items: center;
	}
	i {
		margin-left: 12px;
		font-size: 16px;
	}
	.column__counter {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 3px;
		font-weight: bold;
		width: 24px;
		height: 24px;
		background: $grey;
		border-radius: 50%;
		margin-right: 8px;
		text-align: center;
	}
	.column__name {
		font-weight: bold;
		padding-bottom: 3px;
	}
}

.column__body {
	padding: 10px;
	padding-top: 0;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	.card-container {
		flex: 1;
		height: 100%;
		overflow: auto;
	}
	.card {
		padding: 12px;
		width: 100%;
		height: 100px;
		background: $white;
		border-radius: 6px;
		margin-bottom: 10px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		cursor: move;
		&.selected {
			opacity: 0.5;
			border: 1px dashed $pink;
		}
		* {
			height: fit-content;
		}
		.card-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 90%;
			height: 100%;
			line-height: 1.3em;
		}
		i {
			font-size: 17px;
			padding-top: 1px;
		}
		.fa-sticky-note {
			color: $black;
			transition: none;
			margin-right: 5px;
			&:hover {
				color: $black;
			}
		}
		.title {
			color: $pink;
			font-weight: 600;
			margin-bottom: 5px;
			height: 25%;
			overflow: hidden;
		}
		.contents {
			height: 24%;
			overflow: hidden;
		}
		.user-info {
			font-size: 12px;
			color: $grey;
		}
		.user-id {
			font-weight: bold;
		}
	}
	.card-creator {
		margin-bottom: 8px;
		.card-title {
			width: 100%;
			height: 30px;
			padding: 6px 8px;
			border: 1px solid $midgrey;
			border-radius: 3px;
			margin-bottom: 7px;
		}
		.card-textarea {
			min-width: 100%;
			min-height: 100px;
			resize: none;
			resize: vertical;
			padding: 6px 8px;
			margin-bottom: 7px;
			font-size: 14px;
			line-height: 20px;
			color: $black;
			vertical-align: middle;
			background-color: $white;
			border: 1px solid $midgrey;
			border-radius: 3px;
			outline: none;
			box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
		}
	}
	.card-creator__buttons {
		height: 30px;
		display: flex;
		justify-content: space-between;
		button {
			width: 49%;
			height: 100%;
			font-size: 14px;
			font-weight: bold;
			border: 1px solid $midgrey;
			border-radius: 6px;
		}
		.add {
			background: $muddypink;
			color: $white;
			&:enabled {
				background: $pink;
				cursor: pointer;
			}
		}
		.cancel {
			background: $white;
			color: $black;
			cursor: pointer;
		}
	}
}

.column-add {
	min-width: 366px;
	max-width: 366px;
	padding-right: 16px;
	div {
		height: 140px;
		border: 1px dashed $grey;
		border-radius: 6px;
		font-weight: 500;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		i {
			margin-right: 5px;
		}
		&:hover {
			color: $pink;
		}
	}
}
